body {
  font-family: "Lexend", serif;
  background-color: rgba(99, 99, 102, 0.2);
}

h1 {
  text-align: center;
  font-family: "Lexend", serif;
  font-size: 40px;
  color: rgb(192, 79, 183);
}

h2 {
  margin: 0 0 10px;
  font-size: 32px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

.container {
  width: 600px;
  height: 550px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.background {
  background-image: url(../images/backgroundimg3.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 60%;
}
img {
  border-color: black;
  border-style: double;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city-selection {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  height: 250px;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time-selection {
  font-size: 42px;
  color: white;
  font-weight: bold;
  padding-right: 75px;
  padding-top: 35px;
}
.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}
.time-selection small {
  font-size: 20px;
  line-height: 36px;
  vertical-align: middle;
}

.allCities {
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.allCities a {
  color: rgb(165, 111, 190);
  font-weight: bold;
}

footer {
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

footer a {
  color: rgb(165, 111, 190);
  text-decoration: none;
  font-weight: bold;
}
